@model RepairService.Models.Problem

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Index.cshtml";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />

<div>
    @Html.ActionLink("Home", "Index", "User", new { @class = "nav-link lead" })
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="container">

    <div class="form-horizontal">
        <h3 class="text-center text-info bg-light">Problem Submission Form</h3>
        <hr /> <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Problem_type, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Problem_type, new { htmlAttributes = new { @class = "form-control", placeholder = "@Example Hardware Or Software etc." } })
                @Html.ValidationMessageFor(model => model.Problem_type, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Device, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Device, new { htmlAttributes = new { @class = "form-control", placeholder = "@Example Desktop Or Smartphone etc." } })
                @Html.ValidationMessageFor(model => model.Device, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BrandName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BrandName, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Brand Name" } })
                @Html.ValidationMessageFor(model => model.BrandName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProblemDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.ProblemDescription, new { @class = "form-control", placeholder = "Write details about your problem", @rows = "4" })
                @Html.ValidationMessageFor(model => model.ProblemDescription, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit Problem" class="btn btn-outline-secondary btn-lg" />
            </div>
        </div>
    </div>
    <div>
        @Html.ActionLink("Back to List", "Index", new { @class = "lead" })
    </div>
</div>
}



<script src="~/Scripts/jquery-3.6.0.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
